
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    margin: 0;
    padding: 0;
}

.navbar p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}



.text-white {
    color: #fff !important;
}


/* The alert message box */
.alert {
  padding: 20px;
  background-color: #D4EDDA;
  color: #6E9D79;
  border: 1px solid #6E9D79;
  margin-bottom: 15px;
}


.bc-white {
    background-color: #fff;
}

select {
    font-family: FontAwesome; 
}

.icon-edit:hover {
    border: solid #000 2px;
    cursor: pointer;\
    padding-top: 10px;
}

.partner-box {
    height: 200px;
    width: 200px;
    background-color: red;
    line-height: 175px;
    max-width: 100%;
    display: block;
    color: #fff;
    font-size: 55px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 0 auto 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text-icons {
    width: 100%;
    height: 100%;
    min-height: 20vh;
}

.lain-online {
    border: solid 2px #43B581;
    display: block;
    width: 35px;
    margin: 25px auto;
}

.lain-offline {
    border: solid 2px #E94545;
    display: block;
    width: 35px;
    margin: 25px auto;
}

.color-green {
    color: #43B581;
}

.color-red {
    color: #E94545;
}

.resize-p {
    font-size: 15px;
}


/* The close button */
.closebtn {
  margin-left: 15px;
  color: #6E9D79;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.bg-black {
    background-color: #2F2F31 !important;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.float-right {
    float: right;
}

.blue {
    color:  #43A7DB;
    font-size: 14px;
}

.float-left {
    float: left;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;

}


.hr {

  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 1);
}

.bold {
    font-weight: bold;
}


.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.space {
    margin-top: 100px;
}

.offer-box {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.rm-mp {
    margin: 0;
    padding: 0;
}

.person-box {

    height: 175px;
    width: 175px;
    line-height: 175px;
    max-width: 100%;
    border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: block;
    color: #fff;
    font-size: 55px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 0 auto 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.bg-white {
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}



.text-center {
  margin-left: auto;
  margin-right: auto;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: ##2F2F31;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#content.active {
    width: 100%;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }

    .moblie-space {
        margin-bottom: 4vh;
    }
}


